Repository jherdman/ember-cli-chartist: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, ember-template-lint --fix

.lintstagedrc:

{
  "**/*.{css,html,json,md,yml}": [
    "prettier --write"
  ],
  "**/*.{js,ts}": [
    "eslint --fix",
    "prettier --write"
  ],
  "**/*.hbs": [
    "ember-template-lint --fix"
  ]
}

Import Chartist, don't rely on the global
  addon/components/chartist-chart.js
  index.js
  package.json
Due: prettier --write, eslint --fix

Improve docs
  README.md
Due: prettier --write

Resolve some lint infractions
  tests/integration/components/chartist-chart-test.js
Due: prettier --write, eslint --fix

v3.1.0
  package.json
Due: prettier --write

Add new entries to npmignore
  .npmignore
Due: none

Remove useless file
  .bowerrc
Due: none

Tidy up
  addon/components/chartist-chart.js
Due: prettier --write, eslint --fix

Resolve some deprecation warnings
  tests/dummy/app/controllers/application.js
  tests/dummy/app/templates/application.hbs
Due: prettier --write, eslint --fix, ember-template-lint --fix

Update Ember
  .eslintrc.js
  .github/workflows/ci.yml
  .gitignore
  .npmignore
  .prettierignore
  .prettierrc.js
  CONTRIBUTING.md
  README.md
  addon/components/chartist-chart.hbs
  addon/components/chartist-chart.js
  app/components/chartist-chart.js
  config/ember-try.js
  config/environment.js
  ember-cli-build.js
  index.js
  jsconfig.json
  package.json
  testem.js
  tests/acceptance/smoke-tests-test.js
  tests/dummy/app/app.js
  tests/dummy/app/controllers/application.js
  tests/dummy/app/index.html
  tests/dummy/app/router.js
  tests/dummy/app/routes/application.js
  tests/dummy/app/styles/app.scss
  tests/dummy/app/templates/application.hbs
  tests/dummy/config/ember-cli-update.json
  tests/dummy/config/environment.js
  tests/dummy/config/targets.js
  tests/index.html
  tests/integration/components/chartist-chart-test.js
  tests/test-helper.js
  yarn.lock
Due: prettier --write, eslint --fix, ember-template-lint --fix

Indicate Preferred Node and Yarn
  .tool-versions
Due: none

Configure Husky + Lint Staged
  .husky/.gitignore
  .husky/pre-commit
  .lintstagedrc
  package.json
  yarn.lock
Due: prettier --write

Upgrade ember-auto-import
  README.md
  package.json
  yarn.lock
Due: prettier --write

Hopefully this hack is no longer required
  blueprints/ember-cli-chartist/index.js
Due: prettier --write, eslint --fix

v4.0.0
  package.json
Due: prettier --write
